
<button ng-click="resetBoard()">Reset</button>

<!-- <div class="input-group add-user">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input ng-model="newPlayer" id="msg" type="text" class="form-control" name="msg" placeholder="Add New User Name">
<div class="input-group-btn">
    <button class="btn btn-default" ng-click="addNewUser()">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>
</div> -->

<div class="pre-scrollable">
<ul class="list-group" ng-repeat="x in matchHistory track by $index">
    <li class="list-group-item list-group-item-action" ng-class="x.class">{{x.result}}</li>
</ul>
</div>