<div>
        <!-- <div uib-alert ng-bind="turn in " ng-class="alert-warning" >{{turn}}</div> -->
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
</div>

<div ng-repeat="row in [0,1,2]" class="container-fluid">
    <button class="container-fluid cell" ng-bind="getCellValue(row, col)" ng-class="getCellClass(row,col)"  ng-repeat="col in [0,1,2]" ng-click="buttonBoardCellClick(row,col)">
        <!-- {{ board[row][col]? board[row][col] : '-' }} -->
        <!-- {{(board[row][col]).value}} -->
        <!-- {{ row+' '+col }} -->
    </button>
</div>

<div>
    <button class="btn btn-info" ng-click="resetBoard()" style="margin: 15px;">Reset</button>
</div>